現在、研究室でグループで行っている知能ロボットコンテスト用のロボットについてコモディティ化する方策を考える。
このロボットの概要は、フィールド内に置いてある赤・青・黄の三色のボールが15個置かれており、それを制限時間内に各色のゴールに置くように製作されている。
コメディティ化の3要素として、モジュール化、中間財の市場化、顧客価値の頭打ちがあげられる。
まず、モジュール化について考える。
設計として、部品間のインターフェースが単純化すること、部品と部品間インターフェイスが産業内で広く標準化されることである。
今回の、ロボットでは設計を簡略化する事により、ある程度の機能を持った商品などを組み合わせる事により開発・製造する事が可能になる。サイズ関しても、縮小する事により
コストの低下や生産性の向上へと繋がる。
次に、中間財の市場化について考える。
この、ロボットに使われている部品はアルミ板、樹脂、アクリル板を使用している。この素材は、市場で容易に購入できる。また、デバイスについても比較的に扱いやすいArduinoを使用しており、これも市場で容易に購入できる代物である。サーボモータ、各センサ類に関しても容易に購入可能である。しかし、DCモータで使用している「A-MAX22」に関しては購入しても配送に時間がかかる代物なので、これに代わるモータを使用して市場化する対策が必要である。
次に、顧客価値の頭打ちについて考える。
顧客価値の頭打ちの要因は、顧客客の機能こだわりの低さ・顧客の自己表現性の低さである。顧客があるレベル以上の要求をしなければ、大きな技術的な革新や擦り合わせによる商品性向上が必要なくなる。
今回のロボットの性能について、顧客が、とりあえずボールを15個回収出来て各ゴールまで持っていけるだけの性能以上を要求しなければ、、モジュール化・市場化して、商品の開発・製造が容易になる。
このことから、今回の知能ロボットをコモディティ化するにあたって、設計の簡略化・サイズを変更する事がモジュール化に繋がり、DCモータを市場で容易に購入できる物に変更する事により、各素材・デバイスが中間財の市場化へと繋がる。顧客に関しては、必要最低限のスペック以上を要求しないことを前提する。
上記で考えた、モジュール化・中間財の市場化・顧客価値の頭打ちを用いれば、現在取り組んでいる知能ロボットのコモディティ化することが可能だと考える。
